@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

* {
  font-family: "League Spartan";
}

body {
  margin: 0;
}

.App {
  color: #000;
  width: 100%;
  height: 100vh;
  background-color: hsl(222, 26%, 31%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 10px;
  align-items: center;
}

.result {
  background-color: hsl(224, 36%, 15%);
  color: white;
  border-radius: 5px;
  width: 70%;
  height: 5vh;
  max-width: 70%;
  max-height: 5vh;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  font-size: 30px;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
}

.keypads {
  display: grid;
  grid-template-areas:
    "delete delete arrow arrow"
    "tutupKurung1 tutupKurung2 plus minus"
    "times divide modulus nine"
    "eight seven six five"
    "four three two one"
    "zero dot equal equal";
  padding: 10px;
  border-radius: 10px;
  background-color: hsl(223, 31%, 20%);
  grid-gap: 7px;
}

button {
  padding: 10px;
  font-size: 25px;
  min-width: 70px;
  height: 50px;
  box-shadow: hsl(224, 28%, 35%);
  text-align: center;
  color: hsl(223, 31%, 20%);
  background-color: white;
  border-radius: 5px;
  border: none;
  border-bottom: 3px solid hsl(28, 16%, 65%);
}

.keypad-0 {
  color: white;
  background-color: hsl(6, 63%, 50%);
  border-bottom: hsl(6, 70%, 34%);
  grid-area: delete;
}

.keypad-1 {
  grid-area: tutupKurung1;
}

.keypad-2 {
  grid-area: tutupKurung2;
}

.keypad-3 {
  color: white;
  background-color: hsl(225, 21%, 49%);
  border-bottom: hsl(224, 28%, 35%);
  grid-area: arrow;
}

.keypad-4 {
  grid-area: plus;
}
.keypad-5 {
  grid-area: minus;
}
.keypad-6 {
  grid-area: times;
}
.keypad-7 {
  grid-area: divide;
}
.keypad-8 {
  grid-area: modulus;
}
.keypad-9 {
  grid-area: nine;
}
.keypad-10 {
  grid-area: eight;
}
.keypad-11 {
  grid-area: seven;
}
.keypad-12 {
  grid-area: six;
}
.keypad-13 {
  grid-area: five;
}
.keypad-14 {
  grid-area: four;
}
.keypad-15 {
  grid-area: three;
}
.keypad-16 {
  grid-area: two;
}
.keypad-17 {
  grid-area: one;
}
.keypad-18 {
  grid-area: zero;
}
.keypad-19 {
  grid-area: dot;
}

.keypad-20 {
  color: white;
  grid-area: equal;
  background-color: hsl(225, 21%, 49%);
  border-bottom: hsl(224, 28%, 35%);
}
