@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

* {
  font-family: "League Spartan";
}

body {
  margin: 0;
}

.App {
  color: #000;
  width: 100%;
  height: 100vh;
  background-color: hsl(222, 26%, 31%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 10px;
  align-items: center;
}

.wrapper-results {
  background-color: hsl(224, 36%, 15%);
  color: white;
  border-radius: 5px;
  width: 70%;
  height: 5vh;

  max-width: 70%;
  max-height: 5vh;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  font-size: 30px;

  overflow: hidden;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
}

.keypads {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  border-radius: 10px;
  background-color: hsl(223, 31%, 20%);
  grid-gap: 7px;
}

button {
  padding: 10px;
  font-size: 25px;
  min-width: 70px;
  height: 50px;
  box-shadow: hsl(224, 28%, 35%);
  text-align: center;
  color: hsl(223, 31%, 20%);
  background-color: white;
  border-radius: 5px;
  border: none;
  border-bottom: 3px solid hsl(221, 14%, 31%);
}

.keypad-0 {
  color: white;
  background-color: hsl(6, 63%, 50%);
}

.keypad-3,
.keypad-19 {
  color: white;
  background-color: hsl(225, 21%, 49%);
}

.keypad-1 {
  grid-column: 1/3;
}
